img.profilepic {
  margin: 0 4px;
  width: 25px;
  height: 25px;
}

.container {
	padding-left: 0px;
	padding-right:0px;
	width: 100%;
	margin: 0 auto;
}

.container .header {
	height: 0px;
}

.navbar {
	border-radius:0px;
}

.campaign-header {
    margin: 40px;
    text-align: center;
}

.campaign-header h1,
h2{
	font-weight:bold;
	color:#33032F;
}

.navbar-default .navbar-nav > li > a {
	color: #8D6B94;
}

.h1 {
	margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0px;
  /*margin-bottom: 10px;*/
}


.list-group-item {
	padding: 3px 3px;	
}

.campaign-header h1 {
    /*font-family: "Arial Black", "sans-serif";*/
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 1px;
}

.navbar-default {
	background-color: #fff;
}

.navbar-default .navbar-brand {
	font-weight: bold;
	color: #8D6B94;
}

.bordered-box {
	border-style: solid;
	border-width: 12px;
	border-color: #D8D8D8;
	border-radius: 6px;
	padding: 20px;

}

.invite-box{
	padding-top:10px;
	background-color: #D8D8D8;
	border-radius: 6px;
	padding-right: 15px;
	padding-left: 15px;
}

.pledge{
	font-weight: bold;
	line-height: 40px;
}

.progress-bar{
	background-color: #8D6B94;
}

.list-group-item{
	background-color: transparent;
	border: 0px;
	
}

/*@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}*/

.container .content {
        text-align: left;
        padding: 12px;
        max-width: 948px;
        margin: 32px auto 0 auto;
    }

.inner-bg {
    padding: 120px 0 170px 0;
}

.create-row{
	margin-top: 100px;
}

.centered
{
    text-align:center;
}

.text-right {
  float:right;
}