img.profilepic {
  margin: 0 4px;
  width: 25px;
  height: 25px;
  border: 1px solid white;
  border-radius: 50%
}

img {
	max-width:100%
}

.container {
	padding-left: 0px;
	padding-right: 20px;
	margin-top: 40px;
}

.container .header {
	height: 0px;
}

.container .content {
    text-align: center;
    padding: 12px;
    margin: 32px auto 0 auto;
}


.bottom-aligner {
	font-weight: bold;
	color:#202724;
	vertical-align: bottom;
	text-align: center;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 5px; 
	width:100%;
}

.row {
	margin-left: 20px;
	margin-right: 20px;
}

.main-header {
	font-family: 'Sansita One', 'Arial';
	font-weight: 800;
	color: #222;
	text-align: center;
	font-size: 36px;
}

.create-row{
	margin-top: 60px;
}

.create-header{
	margin-top: 80px;
}

.form-box{
	padding: 30px;
	background: rgba(255, 255, 255, 0.75);
	border-radius:6px;
}

.btn-create {
  color: #fff;
  background-color: #8D6B94;
  border-color: #33032F;
}

/** FORM ELEMENTS **/

.control-label{
	float:left;
}

.center-btn{
	width: 110px;
	margin: 0 auto;
}