<template name="campaignPage">

<div class="container">
	{{#with data}}
        <div class = "row">
          <div class="campaign-header">
            <h1>{{title}}</h1>
            <p class="lead"><strong>Birthday:</strong> {{date}}  |   <strong>Campaign Ends:</strong> {{endDate}} </p>

            </div>
          </div>
            <div class="row">
              <div class="col-md-8">
                <img src="/img/bday.jpg" class="img-responsive width: 100% img-rounded" >
              </div>
              <div class="bordered-box col-md-4">
               <h2><small>Let's Celebrate {{name}}</small></h2>

               <p>{{description}}</p>

               <h3 class = "pledge">$99.42  <small>pledged</small></h3>
               <div class="row">
              </div>
               <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  Campaign Ends on {{endDate}}
                </div>
               </div>

               <div class = "centered">
              <p><a class="btn btn-lg btn-success" role="button" data-toggle="modal" data-target="#pledgeMoney">Pledge Today!</a></p>
              <p><a class="btn btn-default" role="button" data-toggle="modal" data-target="#suggestGift">Suggest Gift</a></p>
            </div>
            </div>
          </div>

          <br><br>
        
        <div class = "row">
          <div class="col-md-8">
            {{#each suggestions}}
            <div class="panel panel-default">
              <div class="panel-heading">
              <h3 class="panel-title">{{name}} ({{price}})</h3>

            </div>
            <div class="panel-body">
              {{description}}
            </div>
            <div>
              {{upvotes}} Number of people Endorsed it.  <button class="endroseGift" id={{_id}}> Endorse </button>
            </div>
            </div>
            {{/each}}
          </div>
          <div class="col-md-4">
            <div class="row invite-box">
              <h4>Public Link</h4>
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" id="publiclink" value="{{publicURL}}">
                </div>
                <button type="button" class="btn btn-default">Copy Link</button>
              </form>
            </div>

            <br>
            <div class="row invite-box">
              <h4>Invite List (5)</h4>
                <ul class="list-group">
                  <li class="list-group-item"><img class="profilepic" src="/img/users/profile1.png">Peter Prosciutto</li>
                  <li class="list-group-item"><img class="profilepic" src="/img/users/profile2.png">Sal Sausage</li>
                  <li class="list-group-item"><img class="profilepic" src="/img/users/profile3.png">Timothy Tenderloin</li>
                  <li class="list-group-item"><img class="profilepic" src="/img/users/profile4.png">Freddy Filet</li>
                  <li class="list-group-item"><img class="profilepic" src="/img/users/profile5.png">Kim Kielbasa</li>
                </ul>
            </div>
          </div>
        </div>

        <!-- PLEDGE MONEY - Frank -->
        <div class="modal fade" id="pledgeMoney" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

                {{#if currentUser}}
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pledge Today!</h4>
              </div>
              <div class="modal-body">
                {{> pledge}}
              </div>
                {{else}}
                  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">You need to be logged in to Pledge Money! Login or Sign Up Now!</h4>
              </div>
              <div class="modal-body">
                {{> login}}
              </div>
                {{/if}}

                
              
           </div>
          </div>
        </div>
        <!-- SUGGEST NEW GIFT - Frank -->
        <div class="modal fade" id="suggestGift" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              {{#if currentUser}}
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pledge Today!</h4>
              </div>
              <div class="modal-body">
                {{> suggestgift}}
              </div>
                {{else}}
                  <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">You need to be logged in to Pledge Money! Login or Sign Up Now!</h4>
              </div>
              <div class="modal-body">
                {{> login}}
              </div>
                {{/if}}

              </div>
           </div>
          </div>


{{/with}}
      </div>
      
</template>