<template name="createNewSurprise">
<div class="modal fade" id="startANewCampaign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Start a New Campaign</h4>
            </div>
            <div class="modal-body">
              <div class="form-top">
                    <div class="form-top-left">
                       <p>Fill in the form below to instantly start a campaign:</p>
                            </div>
                        <div class="form-bottom">
                          <form  class="registration-form form-horizontal form-label-left">
                            <div class="form-group">
                              <label class="control-label col-md-4" for="form-campaign-title">Campaign Title</label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" name="formCampaignTitle" placeholder="(e.g. John's Awesome Surprise Present!)" class="form-control" id="form-campaign-title">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4" for="form-giftee-name">Giftee Name</label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" name="formGifteeName" placeholder="(e.g. John Smith)" class="form-control" id="form-giftee-name">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4" for="form-birthday">Gift Date</label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="date" name="formBirthday" placeholder="Giftee Birthday" class="form-control" id="form-birthday">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4" for="form-campaign-date">Campaign End Date</label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="date" name="formCampaignDate" placeholder="Campaign End Date" class="form-control" id="form-campaign-date">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4" for="form-campaign-date">Campaign Pledge Goal</label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                                <input type="text" name="formPledgeGoal" placeholder="(e.g. $300)" class="form-control" id="form-pledge-goal">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4" for="form-campaign-desc">Campaign Description</label>
                              <div class="col-md-8 col-sm-8 col-xs-12">
                                <textarea name="form-campaign-desc" placeholder="Campaign Description" class="form-campaign-desc form-control" id="formCampaignDesc"></textarea>
                              </div>
                            </div>
                            <div class = "centered">
                              <button type="submit" class="btn btn-success">Start Campaign</button>
                            </div>
                          </form>
                        </div>
                        </div>
              </div>
            </div>
         </div>
        </div>

          
</template>