<template name="createNewSurprise">
	<h2> Planning a new surprise for a friend has never been so easy! Just fill out this easy form </h2>
	<div> Public URL : </div><div id="showPublicURL"> </div>
        <div class="col-sm-5 form-box">
              <div class="form-top">
                            <div class="form-top-left">
                              
                          <p>Fill in the form below to instantly start a campaign:</p>
                            </div>
                            <div class="form-bottom">
                          <form  class="registration-form">
                            <div class="form-group">
                              <label class="sr-only" for="form-campaign-title">Campaign Title</label>
                                <input type="text" name="formCampaignTitle" placeholder="Gift Campaign Title" class="form-control" id="form-campaign-title">
                              </div>
                              <div class="form-group">
                                <label class="sr-only" for="form-giftee-name">Giftee Name</label>
                                <input type="text" name="formGifteeName" placeholder="Giftee Name" class="form-control" id="form-giftee-name">
                              </div>
                              <div class="form-group">
                                <label class="sr-only" for="form-birthday">Birthday</label>
                                <input type="text" name="formBirthday" placeholder="Giftee Birthday" class=" form-control" id="form-birthday">
                              </div>
                              <div class="form-group">
                                <label class="sr-only" for="form-campaign-date">Campaign End Date</label>
                                <input type="text" name="formCampaignDate" placeholder="Campaign End Date" class="form-control" id="form-campaign-date">
                              </div>
                              <div class="form-group">
                                <label class="sr-only" for="form-campaign-desc">Campaign Description</label>
                                <textarea name="form-campaign-desc" placeholder="Campaign Description" class="form-campaign-desc form-control" id="formCampaignDesc"></textarea>
                              </div>
                              <div class = "centered">
                              <button type="submit">Start Campaign</button>
                              </div>
                          </form>
                        </div>
                        </div>
                    </div>
          


</template>