<template name="main">
    <div class="jumbotron" id="loginModal">
        <p style="text-align:center"><img src = "../img/2.gif"></p>
    </div>

    <div class="container">
        <div class="row">
            <h1> Choosing the perfect gift has never been so easy!</h1>
            <div class="col-md-4">
                <div class="bottom-aligner"><h3>Create a Campaign</h3></div>
                <p>Create a campaign to find the perfect gift for your loved one. Share your new campaign with friends and family!</p>
            </div>
            <div class="col-md-4">
                <div class="bottom-aligner"><h3>Add & Vote for Gift Ideas</h3></div>
                <p>Add the perfect gift ideas that they will love. Vote as a group for the top gifts in the list!</p>
            </div>
            <div class="col-md-4">
                <div class="bottom-aligner"><h3>Find the Perfect Gift for Your Budget</h3></div>
                <p>Pledge money to the campaign. Find the best gift ideas that fall into your group's budget!</p>
            </div>
        </div>
    </div>
</template>