<template name="main">

    <div class="jumbotron" id="loginModal">
        <img class="jumbotron" src = "../img/2.gif">
        <div class = "jumbotron-button">
            {{#if currentUser}}
                <button class="btn btn-warning btn-xlarge" type="button" href="#startANewCampaign" data-toggle="modal">Get Started!</button>
            {{else}}
                <button class="btn btn-warning btn-xlarge" type="button" href="#signUp" data-toggle="modal">Get Started!</button>
            {{/if}}
        </div>
    </div>

    <div class="container">
        <div class="row">
            <p class="main-header"> Choosing the perfect gift has never been so easy!</p>
            <div class="col-md-4">
                <div class="bottom-aligner">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-subicon fa-list-alt fa-stack-1x"></i>
                    </span>
                    <p class="main-subheader">Create a Campaign</p>
                </div>
                <p class="main-subdesc">Create a campaign to find the perfect gift for your loved ones. Share your new campaign with friends and family!</p>
            </div>
            <div class="col-md-4">
                <div class="bottom-aligner">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-subicon fa-users fa-stack-1x"></i>
                    </span>
                    <p class="main-subheader">Add & Vote for Gift Ideas</p>
                </div>
                <p class="main-subdesc">Add the perfect gift ideas that they will love. Vote as a group for the top gifts in the list!</p>
            </div>
            <div class="col-md-4">
                <div class="bottom-aligner">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-subicon fa-gift fa-stack-1x"></i>
                    </span>
                    <p class="main-subheader">Find the Gift for Your Budget</p></div>
                <p class="main-subdesc">Pledge money to the campaign. Find the best gift ideas that fall into your group's budget!</p>
            </div>
        </div>
    </div>
</template>