<template name="pledge">
	<div class="form-top">
		<form  class="pledge-form">
			<div class="form-group">
				<label class="sr-only" for="form-pledge-amount">Pledge Amount</label>
				<div class="input-group"> 
					<span class="input-group-addon">$</span>
					<input type="number" name="formPledgeAmount" value="25" min="0" step="1" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency" id="form-pledge-amount" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-success">Pledge</button>
			</div>
		</form>
	</div>
</template>