<template name = "sidebar">
<aside class="sidebar-left-collapse">

		<!--{{#if currentUser}}-->
		<div class="profile">
			<div class="profile_pic">
				<img class="sidebar-profilepic" src="/img/users/profile1.png">
			</div>
			<div class="profile_info">
				<span>Welcome, </span>
				<h4 class="sidebar-title">{{name}}!</h4>
			</div>
		</div>
		
		<div class="sidebar-links">

			<div class="link-blue selected">

				<a href="#">
					<i class="fa fa-subicon fa-list-alt"></i>My Campaigns
				</a>

				<ul class="sub-links">
					<li><a href="#">Campaign A</a></li>
					<li><a href="#">Campaign B</a></li>
					<li><a href="#">Campaign C</a></li>
					<li><a href="#startANewCampaign" data-toggle="modal"><i class="fa fa-plus"></i> Start a New Campaign</a></li>
				</ul>

			</div>

			<div class="link-green">

				<a href="#">
					<i class="fa fa-cog"></i> Settings
				</a>

			</div>

			<!--
			<div class="link-yellow">

				<a href="#">
					<i class="fa fa-keyboard-o"></i>Settings
				</a>

			</div>

			
			<div class="link-green">

				<a href="#">
					<i class="fa fa-map-marker"></i>Places
				</a>

				<ul class="sub-links">
					<li><a href="#">Link 1</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
				</ul>

			</div>
			-->

		</div>

<!--
		{{else}}
		{{/if}}} -->

	</aside>
</template>